@import '~bootstrap/scss/bootstrap';

ul{
    list-style:none;
}

header{
    height:80px;
    width:100vw;
    display:flex;
    position:fixed;
    left:0;
    top:0;
    background-color:black;
    color:white;
    li{
        transition: all 0.2s ease-in-out;
        &:hover{
        transform: scale(105%);
        }
        &.active a{
            color:#ffc107;
            text-decoration:underline;
        }
        a{
            color:white;
            &:hover{
                color:lightgrey;
                text-decoration: underline;

            }
        }
    }

}

a{
    text-decoration: none;
}

main{
    background-color:#555;
    padding:100px 20px 30px;
    color:white;
    height:100%;
}

.dc-container .card{
    color:black;
    background-color:whitesmoke;
    transition: all 0.2s ease-in-out;
    height:100%;
    &:hover{
        cursor:pointer;
        transform: scale(105%);
    }
    img{
        height:75%;
    }
    .card-body{
        height:25%;
    }
}

.container-details{
    margin:0 auto;
    width:60%;
    text-align:center;
    padding:30px;
    .card {
        max-height:90%;
        padding:20px 0;
        color:black;
        background-color:whitesmoke;
        font-size:120%;
        img{
            width: 250px;
            margin:0 auto;
            object-fit:cover;
        }
    }
}
